nav{
    height: 115px;
    
}
nav a {
    font-size: 25px;
    padding: 15px;
}
.title{
    text-align: center;
    padding: 10px;
    padding-top: 120px;
    font-size: 50px;
    color: rgb(27, 45, 145);
}
.images{
    margin: 40px;;
}
.container {
    text-align: center;
    width: 100%;
}
.header{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.header2{
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
}
.heading{
   color:  rgb(249, 206, 76);
}
p{
    padding: 5px;
}
.steps{
    margin: 75px;
    margin-top: 0px;
}
.container1{
    text-align: center;
    padding-bottom: 35px;
}
.phone-icon{
    width: 150px;
}