.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

body{
    background-image: url(photos/home.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}
nav{
    height: 115px;
}
nav a {
    font-size: 25px;
    padding: 15px;
}
.home-button{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
  
.quote{
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 5px 3px 3px rgb(25, 91, 48);
  text-align: center;
  margin: 5px;
}
.nav-links{
  padding-left: 650px;
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 600px)  { 

    .quote{ 
      font-size: 40px;
    }
    .image{
      width: 135px;
      height: 130px;
    }
    body{
      background-image: url(photos/home-phone.jpg);
      width: 100%;
      background-color: rgba(2,22,10,255);
    }
    nav{
      height: 120px;
  }
  .nav-links{
    padding-left: 10px;
  }
  .link-text{
    color: rgb(6, 6, 6);
    font-weight: bold;
    }
  .home-button{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6d9bf6;
  }
  .drop-down{
    background-color: whitesmoke;
  }
}
